<% content_for :title, "Showing post" %>
</strong>
<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing post</h1>
  <div style="margin-bottom:2em"
  class="1flex justify-between items-center">
    <% if user_signed_in? %>
      <%= link_to "Edit this post", edit_post_path(@post),
      class: "bg-green-700 mt-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-1">
        <%= button_to "Destroy this post", post_path(@post), method: :delete,
        class: "bg-red-600 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 font-medium" %>
      </div>
    <% end %>
    <%= link_to "Back to lists", posts_path,
    class: "bg-gray-500 ml-1 mt-1 rounded-lg py-2 px-3
    text-white 1bg-gray-100 1inline-block font-medium" %>
    <div class="inline-block ml-1">
      <%= link_to "New list", new_post_path,
      class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
      1block inline-block font-medium text-white" %>
    </div>
  </div>

  <%= render @post %>

  <%= link_to "Edit this post", edit_post_path(@post), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to posts", posts_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= button_to "Destroy this post", @post, method: :delete, form_class: "sm:inline-block mt-2 sm:mt-0 sm:ml-2", class: "w-full rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
