<% content_for :title, "Showing post" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div style="margin-bottom:1.2em"
  class="1flex justify-between items-center">
    <% if user_signed_in? %>
      <%= link_to "Edit this post", edit_post_path(@post),
        class: "bg-green-700 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 inline-block font-medium" %>          <div class="inline-block ml-1">
        <%= button_to "Destroy this list", post_path(@post), method: :delete,
          class: "bg-red-600 mt-1 rounded-lg py-2 px-3
          text-white 1bg-gray-100 font-medium" %>
      </div>
    <% end %>
    <%= link_to "Back to lists", posts_path,
      class: "bg-gray-500 ml-1 mt-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 1inline-block font-medium" %>
    <div class="inline-block ml-1">
      <%= link_to "New list", new_post_path,
        class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
        1block inline-block font-medium text-white" %>
    </div>
  </div>
  <h3 style="margin-bottom:0.5em"
  class="text-teal-600 block font-medium mb-1 text-3xl">
    <%= @post.title %>
  </h3>
  <h5 style="margin-bottom:0.5em"
  class="block font-medium mb-1 text-1.5xl">
    <strong><%= @post.name %></strong>
  </h5>
  <div id="navbar" class="1collapse">
    <ul class="nav navbar-nav">
      <li style="width:650px; heigh:auto" class="">
        <% if @post.image.attached? %>
          <%= link_to image_tag(@post.image,
          style:"width:640px; heigh:auto"), @post.image %>
        <% end %>
      <li style="margin-top:2em; margin-bottom:2em;
      1width:29em; heigh:auto">
        <%= @post.content %>
      </li>
    </ul>
  </div>

  <div style="margin-bottom:1.2em"
  class="1flex justify-between items-center">
    <% if user_signed_in? %>
      <%= link_to "Edit this post", edit_post_path(@post),
        class: "bg-green-700 mt-1 rounded-lg py-2 px-3
        text-white 1bg-gray-100 inline-block font-medium" %>          <div class="inline-block ml-1">
        <%= button_to "Destroy this list", post_path(@post), method: :delete,
          class: "bg-red-600 mt-1 rounded-lg py-2 px-3
          text-white 1bg-gray-100 font-medium" %>
      </div>
    <% end %>
    <%= link_to "Back to lists", posts_path,
      class: "bg-gray-500 ml-1 mt-1 rounded-lg py-2 px-3
      text-white 1bg-gray-100 1inline-block font-medium" %>
    <div class="inline-block ml-1">
      <%= link_to "New list", new_post_path,
        class: "bg-blue-700 mt-1 rounded-lg py-2 px-3
        1block inline-block font-medium text-white" %>
    </div>
  </div>
</div>
